main.movie__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main.movie__content h1 {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5%;
}

main form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: #a8bdb5;
    padding: 1%;
    border-radius: 10px;
    margin: 1% 0;
    font-size: 14px;
}

.movie p,
.movie h5 {
    width: 10%;
}